.header {
  /* display: flex;
  flex-direction: row; */
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.header-text {
  border: solid 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.main-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  max-width: 240px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: 10px;
  padding-left: 10px;
  left: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
  margin: 0 auto;
  padding: 10px;
}

.ingredient-input {
  display: flex;
  flex-direction: row;
}

.yield-input {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
}